# NOTE: Install PyTorch first with the correct CUDA version:
#   https://pytorch.org/get-started/locally/
# monai pulls in torch as a transitive dependency.
monai
nibabel
numpy
matplotlib
tqdm
mlflow
onnx
onnxruntime
